.navigation {
    z-index: 1111;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    

    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 480px) {
        padding: 0 2rem;
        width: 100%;
    }

    &__buttonGroup {
        gap: 1.2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__openButton {
        display: grid;
        place-items: center;
        height: 5.2rem;
        background-color: rgba(220, 211, 235, .85);
        border-radius: 2.4rem;
        font-family: 'GeologicaExtraLight';
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: .1rem;  
    }

    &__links {
        padding: 1.2rem;
        display: flex;
        justify-content: center;
        gap: 3.6rem;
        border-radius: 5.6rem;
        background-color: rgba(220, 211, 235, .7);
        color: $font-black; 

        @media (max-width: 1280px) {
            gap: 1.8rem;
        }

        @media (max-width: 768px) {
            background-color: rgba(220, 211, 235, .9);
            border-radius: 2.4rem;
            flex-direction: column;
        }
    }

    &__link {
        font-family: 'GeologicaExtraLight';
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: .1rem;
        text-wrap: nowrap;

        &:hover {
            color: #636363;
            cursor: pointer;
        }

        @media (max-width: 1280px) {
            font-size: 1.5rem;
        }

        @media (max-width: 768px) {
            font-size: 1.9rem;
        }
    }

    &__linkButton {
        background-color: $bg-black;
        border-radius: 50%;
    }

    &__siteLink {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        padding: 1.2rem 3.6rem;
        background-color: $bg-black;
        border-radius: 5.6rem;
        color: $font-white;

        &:hover {
            background-color: #E6E6E6;
            color: $font-black;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            border-radius: 50%;
            min-width: 5.2rem;
            height: 5.2rem;
            padding: 0;
        }
    }

    &__icon {
        transform: rotate(45deg);
        width: 100%;
        fill: white;
    }
}