# Node modules  
node_modules/  

# Изменяемые файлы Vite  
dist/  
.vite/  

# Настройки среды  
.env  
.env.*.local  

# Логи  
npm-debug.log  
yarn-debug.log  
yarn-error.log  

# Папки, созданные IDE и текстовыми редакторами  
.idea/  
.vscode/  
.DS_Store  
Thumbs.db