.chips {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 2rem;
    color: $font-white;
    font-family:'GeologicaExtraLight';
    letter-spacing: .1rem;
    overflow: hidden;

    

    &__container {
        padding: 2.4rem 4.4rem;
        background-color: $bg-chips;
        border-radius: 10rem;

        @media (max-width: 1280px) {
            padding: 1rem 2.4rem;
        }
    }
}