.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 97, 97, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 111;
}

.modal {
    z-index: 222222;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 72rem;
    height: 100%;
    background: $bg-black;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;

    @media (max-width: 1280px) {
        width: 50%;
    }

    @media (max-width: 992px) {
        max-width: 100vw;
        width: 100%;
        height: fit-content;
        padding: 10% 0;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 0;
    }


    &__backButton {
        position: absolute;
        top: 2rem;
        left: 2rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        width: clamp(5rem, 6vw, 7rem);
        height: clamp(5rem, 6vw, 7rem);
        background-color: $bg-chips;
        fill: $font-white;
        transition: all 0.3s ease;

        &:hover {
            background-color: $bg-white;
            fill: $font-black;
            cursor: pointer;
        }

        @media (max-width: 992px) {
            top: 2rem;
            left: 50%;
            transform: translate(-50%, -50%);
            height: .4rem;
            width: 8rem;
            border-radius: 5rem;
            background-color: rgba(255, 255, 255, 0.3);
            ;
         }
    }

    &__back {
        width: 100%;

        @media (max-width: 992px) {
           display: none;
        }
    }

    &__photo {
        width: 7.8rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        width: 100%;
        font-family: "Inter";
        line-height: 3rem;
        letter-spacing: .2rem;
        padding: 0 12%;

        @media (max-width: 768px) {
            gap: 2rem;
            padding: 0 10%;
        }

        @media (max-width: 480px) {
            gap: 1rem;
            padding: 0 10%;
        }
    }

    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        color: $font-white;
    }

    &__text {
        text-align: center;
        color: $font-white;
        font-size: 1.8rem;

        @media (max-width: 768px) {
            font-size: 1.2rem;
        }
    }

    &__input {
        width: 100%;
        padding: 2rem;
        height: 7rem;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 10rem;
        border: none;
        font-size: 2rem;
        color: $font-white;
        text-align: center;
        letter-spacing: .2rem;

        @media (max-width: 768px) {
            height: 5rem;
            font-size: 1.2rem;
            border-radius: 3rem;
        }
    }

    &__button {
        text-align: center;
        width: 100%;
        padding: 2rem;
        border-radius: 10rem;
        font-family: "Inter";
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: .2rem;

        @media (max-width: 768px) {
            max-height: 5rem;
            padding: 1rem;
            font-size: 1.2rem;
            border-radius: 3rem;
        }

        &:hover {
            background-color: $bg-white;
            color: $font-black;
        }
    }

    &__continue {
        background-color: $bg-white;
        color: $font-black;

        &:hover {
            background-color: #E6E6E6;
        }
    }

    &__bgGray {
        background-color: rgba(255, 255, 255, 0.08);
        color: rgba(255, 255, 255, 0.98);
    }

    &__error {
        line-height: 3rem;
        letter-spacing: .1rem;
        font-size: 1.8rem;
        color: red;

        @media (max-width: 768px) {
            font-size: 1.2rem;
        }
    }
}
