$bg-black: rgba(10, 10, 10, 1);
$bg-white: #FFFFFF;
$bg-gray: rgb(243, 243, 243);
$bg-blue: rgba(4, 119, 234, 0.8);
$bg-dark-blue: #1b1923;
$bg-purple: rgba(83, 12, 245, 0.8);
$bg-chips: rgba(93, 85, 106, 0.4);

$font-gray: rgba(255, 255, 255, 0.36);
$font-white: #FFFFFF;
$font-black: #000000;



