
.home {
    margin-top: 16rem;
    width: 100%;

    @media (max-width: 1280px) {
        margin-top: 13rem;
    } 
    
    @media (max-width: 768px) {
        margin-top: 10rem;
    } 

    &__title {
        color: hsla(0, 0%, 100%, 0.36);
        font-family: "GeologicaLight";
        font-weight: 300;
        font-size: 8rem;
        margin-left: 3rem;
        cursor: default;
    }

    &__subtitle {
        color: $font-white;
        font-family: "GeologicaLight";
        font-weight: 600;
        font-size: 8rem;
    }

    @media (max-width: 1440px) {
        &__title,
        &__subtitle {
          font-size: 7rem;
        }
      }
      
      @media (max-width: 1024px) {
        &__title,
        &__subtitle {
          font-size: 5rem;
        }
      }
      
      @media (max-width: 768px) {
        &__title {
          margin-left: 2rem;
        }
        &__title,
        &__subtitle {
          font-size: 3.5rem;
        }
      }
      
      @media (max-width: 480px) {
        &__title,
        &__subtitle {
          font-size: 2.4rem;
        }
      }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, fit-content);
        grid-template-rows: repeat(8, fit-content);
        gap: 1rem;
        margin-top: 12.2rem;
        padding: 2.8rem;
        border-radius: 2.4rem;
        background-color: $bg-white;

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(1, fit-content);
            grid-template-rows: repeat(8, fit-content);
            gap: 16px;
            margin-top: 5rem;
            padding: 1.6rem;
        } 
    }

    &__item1 {
        grid-row: span 3 / span 3;
        background-color: $bg-blue;
    }
    
    &__item2 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        background-color: $bg-pink;
    }
    
    &__item3 {
        grid-column-start: 1;
        grid-row-start: 4;
        background-color: $bg-gray;
    }
    
    &__item4 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 3;
        background-color: $bg-dark-blue;
    }
    
    &__item5 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 5;
        background-color: $bg-green;
    }
    
    &__item6 {
        grid-row: span 3 / span 3;
        grid-column-start: 3;
        grid-row-start: 5;
        background-color: $bg-pink;
    }
    
    &__item7 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 7;
        background-color: $bg-blue;
    }
    
    &__item8 {
        grid-column-start: 3;
        grid-row-start: 8;
        background-color: $bg-gray;
    }
}


@media (max-width: 768px) and (orientation: portrait) {
    .home__item1,
    .home__item2,
    .home__item3,
    .home__item4,
    .home__item5,
    .home__item6,
    .home__item7,
    .home__item8 {
        grid-row: auto;
        grid-column: auto;
        grid-area: auto;
        grid-row-start: auto;
        grid-column-start: auto;
        max-height: 50vh;
    }

    .home__item1 {
        order: 1;
    }
    .home__item2 {
        order: 2;
    }
    .home__item3 {
        order: 5;
    }
    .home__item4 {
        order: 4;
    }
    .home__item5 {
        order: 3;
    }
    .home__item6 {
        order: 6;
    }
    .home__item7 {
        order: 7;
    }
    .home__item8 {
        order: 8;
    }
}

@media (max-height: 768px) and (orientation: landscape) {
    .home__item1,
    .home__item2,
    .home__item3,
    .home__item4,
    .home__item5,
    .home__item6,
    .home__item7,
    .home__item8 {
        height: 100vh;
    }
}