
.home {
    margin-top: 16rem;

    @media (max-width: 768px) {
        margin-top: 10rem;
    } 

    &__title {
        color: hsla(0, 0%, 100%, 0.36);
        font-family: "GeologicaLight";
        font-weight: 300;
        font-size: 6rem;
        margin-left: 2rem;

        @media (max-width: 768px) {
            font-size: 2.6rem;
        } 

        @media (max-width: 480px) {
            font-size: 2.4rem;
        }
    }

    &__subtitle {
        color: $font-white;
        font-family: "GeologicaLight";
        font-weight: 600;
        font-size: 6rem;

        @media (max-width: 768px) {
            font-size: 3.8rem;
        } 

        @media (max-width: 480px) {
            font-size: 3.2rem;
        }
    }

    &__grid {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 1rem;
        margin-top: 12.2rem;
        padding: 5.9rem 2.8rem;
        border-radius: 2.4rem;
        background-color: $bg-white;

        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, 1fr);
            gap: 16px;
            margin-top: 5rem;
            padding: 1.6rem;
        } 
    }

    &__item1 {
        grid-row: span 3 / span 3;
        background-color: $bg-gray;
    }
    
    &__item2 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        background-color: $bg-black;
    }
    
    &__item3 {
        grid-column-start: 1;
        grid-row-start: 4;
        background-color: $bg-gray;
    }
    
    &__item4 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 3;
        background-color: $bg-purple;    
    }
    
    &__item5 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 5;
        background-color: $bg-blue;
    }
    
    &__item6 {
        grid-row: span 3 / span 3;
        grid-column-start: 3;
        grid-row-start: 5;
    }
    
    &__item7 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 7;
        background-color: $bg-dark-blue;
    }
    
    &__item8 {
        grid-column-start: 3;
        grid-row-start: 8;
    }
}

@media (max-width: 768px) {
    .home {
        &__item1,
        &__item2,
        &__item3,
        &__item4,
        &__item5,
        &__item6,
        &__item7, 
        &__item8 {
            grid-row: auto;
            grid-column: auto;
            grid-area: auto;
            grid-row-start: auto;
            grid-column-start: auto;
        }

        &__item1 {
            order: 3;
        }
        &__item2 {
            order: 1;
        }
        &__item3 {
            order: 4;
        }
        &__item4 {
            order: 2;
        }
        &__item5 {
            order: 5;
        }
        &__item6 {
            order: 6;
        }
        &__item7 {
            order: 7;
        }
        &__item8 {
            order: 8;
        }
    }
}
