.card {
    position: relative;
    border-radius: 2.4rem;
    padding-top: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media (max-width: 480px) {
        padding-top: 13rem;
    }


    &__name {
        z-index: 10;
        position: absolute;
        padding: 2.4rem 4.4rem;
        left: 3.8rem;
        top: 3.8rem;
        border-radius: 10rem;
        background-color: $bg-chips;
        color: $font-white;
        font-size: 1.8rem;
        font-family:'GeologicaLight';
        font-weight: 300;
        letter-spacing: .1rem;
    
        @media (max-width: 1280px) {
            padding: 1rem 2.4rem;
        }

        @media (max-width: 480px) {
            top: 1.6rem;
            left: 1.6rem;
            padding: 1rem 1.6rem;
        }
    }

    &__title {
        top: 15rem;
        position: absolute;
        width: 90%;
        margin-left: 3.8rem;
        font-size: 5rem;
        font-family: 'GeologicaLight';
        font-weight: 600;

        @media (max-width: 1280px) {
            font-size: 3.5rem;
            top: 10rem;
        }

        @media (max-width: 480px) {
            width: 100%;
            top: 8rem;
            font-size: 2.5rem;
            margin-left: 1.8rem;
        } 
    }
  }
  
.card--small {
    &__backdropContainer {
        width: 100%;
        height: 100%;
    }

    &__backdrop {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image {
        position: absolute;
        width: 85%;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.card--middle {

    &__backdropContainer {
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;
        right: 0;
    }

    &__backdrop {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__image {
        position: absolute;
        height: 55%;
        top: 60%; 
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;

        @media (max-width: 768px) {
            top: 82%; 
            height: 75%;
        }
    }
}

.card--large {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__backdrop {
        justify-items: flex-end;
        align-self: flex-end;
        width: 90%;
        height: 90%;
        // object-fit: cover;
    }

    &__phoneLarge {
        position: absolute;
        width: 30%;
        bottom: 0;
        left: 10%;
        object-fit: cover;

        @media (max-width: 768px) {
    
        }
    }
}
  