.navigation {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 7rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    top: 1.6rem;

    @media (max-width: 1280px) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        height: 4.5rem;   
    } 

    @media (max-width: 768px) {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        height: 4.5rem;   
    } 
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    &__list {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-between;
        text-decoration: none;
        list-style: none;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        color: $font-white;
    }
    
    &__text {
        display: block;

        @media (max-width: 768px) {
            display: none;
        } 
    }

    &__backContainer {
        display: grid;
        place-items: center;
        border-radius: 50%;
        width: 7rem;
        height: 100%;
        background-color: $bg-chips;
        fill: $font-white;

        @media (max-width: 1280px) {
            width: 4.5rem;
        } 

        &:hover {
            background-color: $bg-white;
            fill: $font-black;
            cursor: pointer;
        }
    }

    &__iconContainer {
        display: none;
        border-radius: 50%;
        width: 7.8rem;
        height: 100%;
        background-color: $bg-chips;

        @media (max-width: 768px) {
            display: grid;
            place-items: center;
            width: 4.5rem;
        } 
    }

    &__icon {
        width: 100%;
        color: $font-white;

        @media (max-width: 1280px) {
            width: 50%;
        } 
    }
}