.navigation {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 1.6rem;

    @media (max-width: 1280px) {
        height: 4rem;
        top: 4.5rem;
    } 
    
    &__image {
        max-height: 7rem;
        object-fit: cover;
    }

    &__list {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-between;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        color: $fontWhite;
    }
    
    &__text {
        display: block;

        @media (max-width: 768px) {
            display: none;
        } 
    }


    &__iconContainer {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 1.1rem;
        border-radius: 50%;
        background-color: $backgroundChips;

        @media (max-width: 768px) {
            display: flex; 
            
        } 
    }

    &__icon {
        width: 100%;
        object-fit: cover;
    }

}