.header {
  display: flex;
  height: 40rem;
  overflow: hidden;

  &__title {
    margin-top: 6rem;
    width: 50%;
    font-size: 2rem;
    font-family: 'GeologicaExtraLight';
  }

  &__works {
    display: flex;
    width: 50%;
    height: 100%;
    padding-left: 1rem;
    border-left: .2rem $bg-gray solid;
    font-size: 10rem;
    font-family: 'GeologicaLight';
  }

  &__text {
    align-self: flex-end;
    line-height: 75%;
  }
}