.footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: start;
    height: 18rem;
    color: $font-black;
    font-family: 'Inter';
    font-size: 2rem;
    align-items: center;

    @media (max-width: 768px) {
        height: 8rem;
    }

    // &::after {
    //     position: absolute;
    //     z-index: -1;
    //     content: "";
    //     height: 100%;
    //     width: .2rem;
    //     background-color: $bg-gray;
    //     top: 0;
    //     left: 50%;
    //   }

    &__button {
        display: flex;
        gap: .8rem;
        margin-left: 2.7rem;
        font-size: inherit;
        font-family: inherit;
    }
}
