.navigationBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: fit-content;
  
    &__button {
        display: flex;
        gap: .8rem;
        width: 30%;

        @media (max-width: 768px) {
            width: 40%;
        }
    }

    &__preview {
        padding: 1.6rem;
        background-color: #F5F5F8;
        border-radius: 3rem;

        @media (max-width: 768px) {
            padding: 0;
        }
    }
  
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2.6rem;
    }
  
    &__svg {
        width: 100%;

        // @media (max-width: 768px) {
        //     width: 88%;
        // }
    }
  
    &__arrow {
        display: grid;
        place-items: center;
        height: 100%;
        width: fit-content;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 2.6rem;
        background-color: #F5F5F8;
        
        @media (max-width: 768px) {
            width: 50%;
            padding: 0;
            background: none;
        }

        @media (max-width: 480px) {
            width: 100%;
         
        }
    }
  }
  