.content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__header {
        width: 50%;
    }

    &__title {
        display: block;
        width: 70%;
        font-size: 5.6rem;
        font-weight: 600;
        font-family: "GeologicaLight";
        transform: translateY(-4%);

        @media (max-width: 1280px) {
            font-size: 4rem;
        }
        
          @media (max-width: 768px) {
            font-size: 2rem;
          }
    }

    &__subTitle {
        font-size: 2.4rem;
        font-weight: 600;
        font-family: "GeologicaLight";
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        padding-right: 10%;
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            padding-right: 0;
        }
    }

    &__text {
        font-family: 'GeologicaLight';
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: .1rem;
    }

    &__listTitle {
        font-family: 'GeologicaLight';
        font-size: 1.8rem;
        color: rgba(27, 27, 27, 0.64);
        padding-bottom: .8rem;
    }

    &__list {
        list-style-type: disc;
        list-style-position: inside;
        
        li {
          font-family: 'GeologicaLight';
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 3rem;
          letter-spacing: .1rem;
        }
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    
    &__item {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }
      
    &__title {
        font-family: 'GeologicaLight';
        font-size: 1.8rem;
        color: rgba(27, 27, 27, 0.64);
    }

    &__text {
      font-family: 'GeologicaLight';
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 3rem;
      letter-spacing: .1rem;
    }
}