.content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    width: 100%;

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 2.4rem;
    }

    &__header {
        width: 50%;

        @media (max-width: 992px) {
            width: 100%;
            padding-left: 0;
        }
    }

    &__title {
        display: block;
        font-size: 5.6rem;
        font-weight: 600;
        width: 90%;
        font-family: "GeologicaLight";
        transform: translateY(-10%);

        @media (max-width: 1280px) {
            font-size: 4rem;
        }
        
          @media (max-width: 768px) {
            width: 100%;
            font-size: 3rem;
            width: 100%;
          }
    }

    &__subTitle {
        font-size: 2.4rem;
        font-weight: 600;
        font-family: "GeologicaLight";
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        width: 50%;
        max-width: 72rem;

        @media (max-width: 992px) {
            width: 100%;
            padding-right: 0;
        }
    }

    &__bodyСontainer {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__text {
        font-family: 'Inter';
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: .1rem;
    }

    &__listTitle {
        font-family: 'Inter';
        font-size: 1.8rem;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding-bottom: 2.4rem;
        color: rgba(27, 27, 27, 0.64);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-left: 3rem;
        list-style-type: disc;
        
    }

    &__listItem {
        font-family: 'Inter';
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: .1rem;
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    font-family: 'Inter';

    
    &__title {
        font-family: 'Inter';
        font-size: 1.8rem;
        color: rgba(27, 27, 27, 0.64);
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
}